.chat-window {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 10fr 1fr;
}

.no-chat-selected-window {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #e9e9e9;
}

.no-chat-selected-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
